# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Kubernetes
kubeconfig*
config-map-aws-*

# Environment variables
*.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IntelliJ
*.ipr
*.iml
*.iws
.idea/

# VS Code
.vscode/

# Secrets
*.pem
*.key
